<div class="homepage">
  {{
    'weeklyhow-logo.png'
    | asset_img_url: 'large'
    | image_tag: alt: 'WeeklyHow Logo', class: 'logo'
  }}

  <h1>Welcome to Shopify Theme Development course!</h1>
  <p>{% render 'homepage-text' %}</p>
</div>
